//this code helps keep all carousel imgs the same size
.w-100 {
    width: 100% !important;
    height: 50vh;
}

.jumbotron {
    background: url('/img/cuttingBoard2.jpg');
    background-size: cover;
    background-position: center;
}

.navbar {
    background-color: #0b090a;
}

.site-footer {
    background-color: #d90429;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-style: italic;
}

.card {
    background: url('/img/cuttingBoard2.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
    color: #d90429;
    box-shadow: 10px 10px 5px grey;

    #eventCardTitle {
        text-decoration: underline;
        color: white;
    }
}