//this code helps keep all carousel imgs the same size
$color-primary: #bc4749;
$color-secondary: whitesmoke;
$color-green: #38b000;


.w-100 {
    width: 100% !important;
    height: 50vh;
}

.site-footer {
    background-image: linear-gradient($color-secondary, $color-primary);
    padding: 20px 0;
}

.jumbotron {
    background: url('/img/cuttingBoard2.jpg');
    background-size: cover;
    background-position: center;
}

.navbar {
    background-color: #bc4749;
}

.navbar-toggler {}

.site-footer {
    background-color: #d90429;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    color: $color-primary;
}

#eventHeader {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    color: $color-primary;
    text-decoration: underline;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-style: italic;
}

.card {
    background: url('/img/cuttingBoard2.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    color: $color-secondary;
    box-shadow: 10px 10px 5px grey;

    #eventCardTitle {
        text-decoration: underline;
        color: $color-secondary;
    }
}