.w-100 {
  width: 100% !important;
  height: 50vh; }

.jumbotron {
  background: url("/img/cuttingBoard2.jpg");
  background-size: cover;
  background-position: center; }

.site-footer {
  background-color: red; }

.card {
  background: url("/img/cuttingBoard2.jpg");
  background-size: cover;
  background-position: center; }

h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700; }

h2 {
  font-family: 'Roboto Slab', serif;
  font-style: italic; }
