//this code helps keep all carousel imgs the same size
$color-primary: #bc4749;
$color-secondary: whitesmoke;
$color-green: #38b000;

$header-font: "Roboto Slab", sans;
$body-font: "Caveat", cursive;


.w-100 {
    width: 100% !important;
    height: 50vh;
}


.jumbotron {
    background: url('/img/cuttingBoard2.jpg');
    background-size: cover;
    background-position: center;
}

.navbar {
    background-color: #bc4749;
    border: 2px solid black;
}

#navButton {
    border: 1px solid black;
}

h1,
h2 {
    font-family: $header-font;
    font-weight: 700;
    color: $color-primary;
}

#teamHeader {
    font-family: $header-font;
    font-weight: 700;
    color: $color-primary;
    text-decoration: underline;
}

#eventHeader {
    font-family: $header-font;
    font-weight: 700;
    color: $color-primary;
    text-decoration: underline;
}

h2 {
    font-family: $header-font;
    font-style: italic;
}

.card {
    background: url('/img/cuttingBoard2.jpg');
    background-size: cover;
    background-position: center;
    font-family: $header-font;
    font-weight: 900;
    color: $color-secondary;
    box-shadow: 10px 10px 5px grey;
    border: black, solid;

    #eventCardTitle {
        text-decoration: underline;
        color: $color-secondary;
    }
}

.site-footer {
    background-color: $color-primary;
    padding: 20px 0;
    border: 2px solid black;
}

#companyBio {
    font-family: $header-font;

    p {
        font-family: $body-font;
        font-weight: 600;
        font-size: x-large;
    }
}

#teamBio {
    font-family: $header-font;

    p {
        font-family: $body-font;
        font-weight: 700;
        font-size: larger;
    }
}

#menuContent {

    h5,
    {
    font-family: $body-font ;
    font-weight: 800;
}

p {
    font-family: $body-font;
    font-size: larger;
    font-weight: 500;
}
}